<html>
<head>
  <title>Comments</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="javascripts/frontApp.js"></script>
</head>
<body ng-app="comment" ng-controller="MainCtrl">
	<h1>Voter Interface</h2>
	<h2>Canidates</h2>

  <div ng-repeat="comment in comments | orderBy: '-upvotes'">
<!---    <span class="glyphicon glyphicon-remove" ng-click="delete(comment)"></span>
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
   --> {{comment.title}} - upvotes: {{comment.upvotes}}
  </div>


</body>
</html>
